body{
    background-color: #1B1A17;
    text-align: center;
    font-family: 'Roboto';
}
.parentDiv{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainDiv{
    width: 500px;
    padding: 15px;
    background-color: #E45826;
    font-size: 10px;
    animation-duration: 2s;
    animation-name: mainAnimation;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
h1{
    color: white;
}
